<div class="alert alert-success">
    @ViewBag.Message
    <div></div>

    <div class="text-right">

        <button type="button" class="btn btn-success" style="border-radius:0;" onclick="CloseRequestResultPopup('@ViewBag.Container');">Done</button>
    </div>
</div>

<script src="~/Scripts/CustomerCare/ClosePatientRequestResultPopup.js"></script>



