@{
    Layout = null;
    ViewBag.Title = "Invoice preview";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cascade Flat , Responsive Bootstrap 3.0 Admin Template</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!-- Loading Bootstrap -->
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Stylesheets -->
    <link href="~/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/invoiceee.css" type="text/css" media="screen">


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="http://files.codepedia.info/uploads/iScripts/html2canvas.js"></script>

    <link rel="stylesheet" href="~/css/content-popupppb.css">


    <script>
        function makepage(src) {
            return "<html>\n" +
            "<head>\n" +
            "<title>Temporary Printing Window</title>\n" +
            "<script>\n" +
            "function step1() {\n" +
            " setTimeout('step2()', 10);\n" +
            "}\n" +
            "function step2() {\n" +
            " window.print();\n" +
            " window.close();\n" +
            "}\n" +
            "</scr" + "ipt>\n" +
            "</head>\n" +
            "<body onLoad='step1()'>\n" +
            "<img src='" + src + "'/>\n" +
            "</body>\n" +
            "</html>\n";
        }
        function printme(evt) {
            if (!evt) {
                // Old IE
                evt = window.event;
            }
            var image = evt.target;
            if (!image) {
                // Old IE
                image = window.event.srcElement;
            }
            src = image.src;
            link = "about:blank";
            var pw = window.open(link, "_new");
            pw.document.open();
            pw.document.write(makepage(src));
            pw.document.close();
        }
    </script>

</head>
<body>

    <div class="container text-right" style="width:920px; margin-top:10px; margin-bottom:10px;">

        <button id="btn-Preview-Image" class="btn btn-primary btn-animate-demo"><a href="#popupinvoice" style="color:#fff;">Preview</a></button>

    </div>

    <div class="container invoiceee-border" id="html-content-holder">

        <div class="container" style="width:800px;">



            <div class="invoiceee-toprow">

                <div class="col-md-4">


                    <div style="background-image:url(../images/invoiceee-logo.png); background-repeat:no-repeat; height:80px;"> </div>

                    <div class="invoiceee-to">
                        To <br>
                        <span class="invoiceee-toname">Farhan Ahmed</span><br>
                        JC, Dhaka Region<br>
                        Bangladesh Customs<br>
                        +88 01234 1234567<br><br>

                        Dr.Ahmed Awad



                    </div>

                </div>


                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <div class="invoiceee-tob">
                        <span class="invoiceee-icon"> <i class="fa fa-home"></i></span> <br><br>
                        Bashati Exclusive<br>
                        Plot # 06 (5th floor), Apt # A5<br>
                        Road # 07, Block # C, Niketon<br>
                        Gulshan-1, Dhaka-1212
                    </div>

                    <div class="invoiceee-tob" style="margin-top:20px;">
                        <span class="invoiceee-icon" style="margin-right:5px;"> <i class="fa fa-globe"></i></span>  <span class="invoiceee-icon" style="margin-right:5px;"> <i class="fa fa-envelope"></i></span>  <span class="invoiceee-icon"> <i class="fa fa-mobile"></i></span> <br><br>
                        www.alcovearchltd.com<br>
                        imrul.hossain@yahoo.com<br>
                        +88 01234 567890<br>
                    </div>

                    <div class="invoiceee-tob" style="margin-top:20px;">
                        <span class="invoiceee-icon" style="margin-right:5px;"> <i class="fa fa-twitter"></i></span>  <span class="invoiceee-icon"> <i class="fa fa-facebook"></i></span> <br><br>
                        alcovearchltd<br>
                        @*@alcovearchltd*@
                    </div>

                </div>

            </div>

            <div class="clearfix"></div>

        </div>


        <div class="container" style="width: 916px; margin-top: 30px; margin-left: -15px;">

            <div class="col-md-12 invoiceee-redtitle">

                <div class="invoiceee-redtitleleft" style="float:left;">INVOICE</div>

                <div class="invoiceee-redtitleright" style="float:left;">

                    <div class="invoiceee-detail" style="margin-left:50px;">

                        Invoice No. // <br>
                        001

                    </div>

                    <div class="invoiceee-detail" style="margin-left:50px;">

                        Analysis Req No. //  <br>
                        3326.369.365

                    </div>

                    <div class="invoiceee-detail" style="margin-left:50px;">

                        Date //
                        <br>
                        22.1.2016

                    </div>

                    <div class="invoiceee-detail" style="margin-left:50px;">

                        Hour //  <br>
                        23:50:46

                    </div>

                </div>

            </div>

        </div>


        <div class="container" style="width:900px; margin-top:20px;">

            <div>

                <table class="table">

                    <thead> <tr> <th>Sl.</th> <th>Items</th> <th style="text-align:center;">Unit Price</th> <th style="text-align:center;">Total</th> </tr> </thead>

                    <tbody style="font-size:11px;">
                        <tr style="background-color:#e9eaeb;"> <td style="border:2px solid #fff;">1.</td> <td style="border:2px solid #fff;">Set Design,Development & Decor</td> <td align="center" style="border:2px solid #fff;">210,000</td> <td align="center" style="border:2px solid #fff;">210,000.00</td> </tr>

                        <tr style="background-color:#e9eaeb;"> <td style="border:2px solid #fff;">1.</td> <td style="border:2px solid #fff;">Set Design,Development & Decor</td> <td align="center" style="border:2px solid #fff;">210,000</td> <td align="center" style="border:2px solid #fff;">210,000.00</td> </tr>

                        <tr style="background-color:#e9eaeb;"> <td style="border:2px solid #fff;">1.</td> <td style="border:2px solid #fff;">Set Design,Development & Decor</td> <td align="center" style="border:2px solid #fff;">210,000</td> <td align="center" style="border:2px solid #fff;">210,000.00</td> </tr>

                        <tr style="background-color:#e9eaeb;"> <td style="border:2px solid #fff;">1.</td> <td style="border:2px solid #fff;">Set Design,Development & Decor</td> <td align="center" style="border:2px solid #fff;">210,000</td> <td align="center" style="border:2px solid #fff;">210,000.00</td> </tr>

                        <tr style="background-color:#e9eaeb;"> <td style="border:2px solid #fff;">1.</td> <td style="border:2px solid #fff;">Set Design,Development & Decor</td> <td align="center" style="border:2px solid #fff;">210,000</td> <td align="center" style="border:2px solid #fff;">210,000.00</td> </tr>

                        <tr style="background-color:#e9eaeb;"> <td style="border:2px solid #fff;">1.</td> <td style="border:2px solid #fff;">Set Design,Development & Decor</td> <td align="center" style="border:2px solid #fff;">210,000</td> <td align="center" style="border:2px solid #fff;">210,000.00</td> </tr>

                        <tr style="height:10px;">
                            <td colspan="3"></td>
                            <td align="center" style="border:2px solid #fff;">
                                Subtotal &nbsp;&nbsp;&nbsp; 62,300.00<br>
                                Discount &nbsp;&nbsp;&nbsp; 62,300.00<br>
                                Ext. Cost &nbsp;&nbsp;&nbsp; 62,300.00
                            </td>
                        </tr>

                        <tr> <td colspan="3" style="border:2px solid #fff;"></td> <td align="center" style="border:2px solid #fff; background-color:#565757; color:#fff;">Grand Total &nbsp;&nbsp;&nbsp; 62,300.00</td> </tr>

                        <tr>
                            <td colspan="3" style="border:2px solid #fff;"></td>
                            <td align="center" style="border:2px solid #fff;">
                                Paid&nbsp;&nbsp;&nbsp; 62,300.00<br>
                                Rest &nbsp;&nbsp;&nbsp; 62,300.00
                            </td>
                        </tr>


                    </tbody>

                </table>

            </div>

        </div>




        <div class="container" style="width:800px;">

            <div class="invoiceee-toprow">

                <div class="col-md-4">




                    <div class="invoiceee-to" style="top:0;">
                        * Payment Methods // <br>
                        <span style="margin-left:6px;">Please make the cheque to Alcove Arch Limited</span>

                    </div>

                    <div class="invoiceee-to" style="margin-top:10px; top:0;">
                        * Terms & Conditions // <br>
                        <span style="margin-left:6px;"> 1. Terms & Condition One</span><br>
                        <span style="margin-left:6px;">2. Terms & Condition One-two, to be edited</span><br>
                        <span style="margin-left:6px;">3. Terms & Condition One-two-three, to be edited</span><br>
                    </div>

                </div>


                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <div class="invoiceee-tob" style="margin-top:15px; text-align:center;">
                        <span class="invoiceee-toname">Approved By</span><br>
                        <div style="background-image:url(../images/invoiceee-signature.png); background-repeat:no-repeat; background-position:center 0; height:25px;"></div><!--<img src="images/invoiceee-signature.png" alt="">--><br>
                        Amanda Orton<br>
                        Managing Director<br>
                    </div>

                </div>

            </div>

        </div>


        <div class="container" style="width:800px; height:1px; border:1px dotted #add3eb; margin-top:15px; margin-bottom:15px;"></div>

        <div class="container" style="width:800px; font-size:9px; text-align:center; margin-top:15px; margin-bottom:15px;">
            Thank you for your visit<br>

            www.nerdcompany.com  // orton@company.com <br>

            +88 01234 123456 // +88 01234 123456
        </div>

    </div>


    <div class="container invoiceee-borderb text-right" style="width:800px;">

        <!--<a id="btn-Convert-Html2Image" href="#" class="btn btn-warning btn-animate-demo">Download</a>-->
        <br />
        <h3></h3>

        <div id="popupinvoice" class="overlay">
            <div class="popup">

                <h3 class="invoiceeeimg-title"><i class="fa fa-picture-o"></i> Invoice Image</h3>
                <a class="close" href="#">&times;</a>
                <div class="contentt">



                    <div id="previewImage">  </div>

                </div>
            </div>
        </div>



    </div>




    <script>
        $(document).ready(function () {


            var element = $("#html-content-holder"); // global variable
            var getCanvas; // global variable

            $("#btn-Preview-Image").on('click', function () {
                html2canvas(element, {
                    onrendered: function (canvas) {
                        $("#previewImage").append(canvas);
                        getCanvas = canvas;
                    }
                });
            });

            $("#btn-Convert-Html2Image").on('click', function () {
                var imgageData = getCanvas.toDataURL("image/png");
                // Now browser starts downloading it instead of just showing it
                var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
                $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
            });

        });

    </script>



    <script>



    </script>


</body>
</html>
