<!DOCTYPE html>
<html>
<head>
    <title>jQuery - dragndrop - 2.6</title>
    <meta charset="utf-8" />
    <meta property="og:title" content="jQuery - dragndrop" />
    @*<meta property="og:url" content="https://mr21.github.io/jquery-dragndrop/" />
    <meta property="og:image" content="https://mr21.github.io/jquery-dragndrop/thumbnail.jpg" />
    <meta property="og:description" content="jQuery-dragndrop is a script for creating a multiple dragndrop with inlines elements." />
    <link rel="stylesheet" href="../_/fa/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../_/header.css" />
    <link rel="stylesheet" href="../jquery-selection/jquery-selection.css" />*@
    <link rel="stylesheet" href="~/drag/jquery-dragndrop.css" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../_/header.js"></script>
    <script src="../jquery-selection/jquery-selection.js"></script>*@
    <script src="~/drag/jquery-dragndrop.js"></script>
    <script src="~/drag/main.js"></script>
    <style>
        body {
            margin: 0;
            background: #444;
        }

        #dragndrop {
            margin-top: 20px;
            text-align: center;
        }

        .jqdragndrop-drop {
            transition: background .2s ease;
            background: rgba(0,0,0,.3);
        }

        .jqdragndrop-dropHover {
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            background: rgba(0,0,0,.5);
        }
    </style>
</head>
<body>
    <div id="header">
        <i class="fa fa-fw fa-plug"></i>
        <h1>jQuery - dragndrop - 2.6</h1>
    </div>
    <div id="dragndrop">
        <ol class="jqdragndrop-drop A">
            <li class="jqselection-selectable">item 1</li>
            <li class="jqselection-selectable">item 2</li>
            <li class="jqselection-selectable">item 3</li>
            <li class="jqselection-selectable">item 4</li>
            <li class="jqselection-selectable">item 5</li>
            <li class="jqselection-selectable">item 6</li>
            <li class="jqselection-selectable">item 7</li>
            <li class="jqselection-selectable">item 8</li>
            <li class="jqselection-selectable">item 9</li>
            <li class="jqselection-selectable">item 10</li>
            <li class="jqselection-selectable">item 11</li>
            <li class="jqselection-selectable">item 12</li>
            <li class="jqselection-selectable">item 13</li>
            <li class="jqselection-selectable">item 14</li>
        </ol>
        <ol class="jqdragndrop-drop B">
            <li class="jqselection-selectable">item 1</li>
            <li class="jqselection-selectable">item 2</li>
            <li class="jqselection-selectable">item 3</li>
            <li class="jqselection-selectable">item 4</li>
            <li class="jqselection-selectable">item 5</li>
            <li class="jqselection-selectable">item 6</li>
            <li class="jqselection-selectable">item 7</li>
            <li class="jqselection-selectable">item 8</li>
            <li class="jqselection-selectable">item 9</li>
            <li class="jqselection-selectable">item 10</li>
            <li class="jqselection-selectable">item 11</li>
            <li class="jqselection-selectable">item 12</li>
            <li class="jqselection-selectable">item 13</li>
            <li class="jqselection-selectable">item 14</li>
        </ol>
        <br />
        <ol class="jqdragndrop-drop C">
            <li class="jqselection-selectable">item 1</li>
            <li class="jqselection-selectable">item 2</li>
            <li class="jqselection-selectable">item 3</li>
            <li class="jqselection-selectable">item 4</li>
            <li class="jqselection-selectable">item 5</li>
            <li class="jqselection-selectable">item 6</li>
            <li class="jqselection-selectable">item 7</li>
            <li class="jqselection-selectable">item 8</li>
            <li class="jqselection-selectable">item 9</li>
            <li class="jqselection-selectable">item 10</li>
            <li class="jqselection-selectable">item 11</li>
            <li class="jqselection-selectable">item 12</li>
            <li class="jqselection-selectable">item 13</li>
            <li class="jqselection-selectable">item 14</li>
        </ol>
        <div class="jqdragndrop-drop D">
        </div>
    </div>
</body>
</html>
