
@{
    ViewBag.Title = "Barcode Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TEst for Barcode Index</h2>


<img src='@Url.Action("GetBarcodeImage", "TestBarCode", new
 {valueToEncode="Name: Amr Adel\nAge: 30\nAddress: El maadi\ndate: 2016-07-03\nCost: 500"}, Request.Url.Scheme)' alt='Sample Barcode' />
<div> Amr Aly</div>

