
@{
    ViewBag.Title = "Barcode Index";
}

<h2>TEst for Barcode Index</h2>


@*<img src='@Url.Action("GetBarcodeImage", "TestBarCode", new
 {valueToEncode="Name: Amr Adel\nAge: 30\nAddress: El maadi\ndate: 2016-07-03\nCost: 500"}, Request.Url.Scheme)' alt='Sample Barcode' />*@

@*@foreach (string imageData in ViewBag.ImagesData)
{ 
        <img src="@imageData" onclick="PrintBarCodes(event);" tabindex="0" /><br/><br/><br/><br/>
    
}*@
<a href="#" onclick="PrintBarCodes();">Print form here</a>
<script type="text/javascript">
    function PrintBarCodes(ev) {
        $.get('@Url.Action("GetBarcodesToPrint","TestBarCode")', function (data) {
            PrintData(data);
        });
    }
</script>

