<div class="captureresult-listb">

    <div class="col-md-7 mar-botmob">
        <div class="input-group" style="margin-top:0;">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:100%;">
                    <span id="search_concept">Filter by</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#Plan">Plan</a></li>
                    <li><a href="#Planb">Planb</a></li>
                    <li><a href="#Planc">Planc</a></li>
                </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" name="x" placeholder="Search term..." style="width: 53%; height:34px;">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>

    <div class="col-md-5">

        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 8px 10px; border: 1px solid #ccc; width: 100%">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>

    </div>

</div>




<div class="input-group table-responsive">

    <!--<a href="#" class="btn btn-info btn-block">Amr Ali / 010099999999 / H2s4,df4/ H2s4,df4/ H2s4,df4/ H2s4,df4/ H2s4,df4/ H2s4,df4/ H2s4,df4/ H2s4,df4/ H2s4,df4</a>

    <a href="#" class="btn btn-danger btn-block">Amr Ali / 010099999999 / H2s4,df4</a>-->

    <div href="#">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="10%">Request ID</th>
                    <th width="7%">Category</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th width="50%">Analysis</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><td>FR21 </td><td><span class="label label-warning">Individual</span></td><td>Amr Ali </td><td>01008767899 </td><td>H2so4,H2so4,H2so4 </td><td>3/6/2016</td><td align="center" style="word-spacing:10px;"><a href="invoiceee.html"><i class="fa fa-credit-card"></i></a></td></tr>
                <tr><td>FR21 </td><td><span class="label label-warning">Contract</span></td><td>Amr Ali </td><td>01008767899 </td><td>H2so4,H2so4,H2so4 </td><td>3/6/2016</td><td align="center" style="word-spacing:10px;"><a href="invoiceee.html"><i class="fa fa-credit-card"></i></a></td></tr>
                <tr><td>FR21 </td><td><span class="label label-warning">Lab to Lab</span></td><td>Amr Ali </td><td>01008767899 </td><td>H2so4 </td><td>3/6/2016</td><td align="center" style="word-spacing:10px;"><a href="invoiceee.html"><i class="fa fa-credit-card"></i></a></td></tr>
            </tbody>
        </table>



    </div>




</div>
