<div class="carousel-block">
    <table class="table table-bordered table-record-qcleft">
        <thead>
            <tr>
                <th>Request Details</th>
            </tr>
        </thead>
        <tbody>

        <td>

            Name : hsfgu <br>
            Reference ID : 123<br>
            Number of Analysis : 4 from 5

        </td>
        <div>

        </div> </td></tr>

        </tbody>
    </table>
</div>
