<div class="captureresult-list-qc">

    <div class="col-md-6"><select name="" class="form-control form-widthhh-full formtop-mobile"><option>View Single</option><option>View All</option></select></div>

    <div class="col-md-6"><select name="" class="form-control form-widthhh-full formtop-mobile"><option>View Related</option><option>View History</option></select></div>

</div>

<div class="row">

    <div class="col-md-3">

        <div id="QC_Requests_fourd" class="carouseller">
            <a href="javascript:void(0)" class="carousel-button-left">‹</a>
            <div class="carousel-wrapper">
                <div class="carousel-items">

                    @{Html.RenderAction("GetPatientRequests");}

                </div>
            </div>
            <a href="javascript:void(0)" class="carousel-button-right">›</a>
        </div>

    </div>

    <div class="col-md-9">

        <div id="QC_Results_fourd" class="carouseller qc-topmob">
            <a href="javascript:void(0)" class="carousel-button-left">‹</a>
            <div class="carousel-wrapper">
                <div class="carousel-items">
                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright" style="background-color:#f0f0f0;">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td>
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input"><br>
                                <a href="#"><i class="fa fa-refresh"></i></a> <a href="#"><i class="fa fa-edit"></i></a> <button type="button" class="btn btn-success btn-xs" style="border-radius:0;">Approved</button>
                            </td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td><input type="text" class="form-control addrecord-input"></td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td>
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                            </td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td><input type="text" class="form-control addrecord-input"></td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td><input type="text" class="form-control addrecord-input"></td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td><input type="text" class="form-control addrecord-input"></td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td>
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                                <input type="text" class="form-control addrecord-input">
                            </td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="carousel-block">
                        <table class="table table-bordered table-record-qcright">
                            <thead>
                                <tr>
                                    <th>Analysis FR21 </th>
                                </tr>
                            </thead>
                            <tbody>

                            <td><input type="text" class="form-control addrecord-input"></td>
                            <div>

                            </div> </td></tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <a href="javascript:void(0)" class="carousel-button-right">›</a>
        </div>

    </div>

</div>
<script src="~/js/carouseller.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(QC_Requests_fourd).carouseller();
        $(QC_Results_fourd).carouseller();
    });
</script>
