<div id="QC_Result_Loading" style="display:none;"><i class="fa fa-spinner"></i></div>
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "QC_Result_Form" }))
{
<div class="captureresult-list-qc">

    <div class="col-md-6">
        <select name="" class="form-control form-widthhh-full formtop-mobile">
            <option>View All</option>
            <option>View Single</option>
        </select>
    </div>

    <div class="col-md-6">
        <select name="" class="form-control form-widthhh-full formtop-mobile">
            <option>None</option>
            <option>View Related</option>
            <option>View History</option>
        </select>
    </div>

</div>

<div class="row">

    <div class="col-md-3">

        <div id="QC_Requests_fourd" class="carouseller">
            <a href="javascript:void(0)" class="carousel-button-left" onclick="GetPreviousRequest();">‹</a>
            <div class="carousel-wrapper">
                <div class="carousel-items">

                    @{Html.RenderAction("GetPatientsRequestsPendingForReporting");}

                </div>
            </div>
            <a href="javascript:void(0)" class="carousel-button-right" onclick="GetNextRequest();">›</a>
        </div>

    </div>

    <div class="col-md-9">

        <div id="AnalyzesResults_Container">
        </div>

    </div>

</div>
}
<script src="~/js/carouseller.min.js"></script>
<script type="text/javascript">
    ////////////////////////////////////////////////////////////
    $(document).ajaxStart(function () {
        try {
            $("#QC_Result_Form").prop('disabled', true);
            $("#QC_Result_Loading").show();
        }
        catch (err) {
            alert(err.message);
        }
    });
    /////////////////////////////////////////////////////////
    $(document).ajaxStop(function () {
        try {
            $("#QC_Result_Form").prop('disabled', true);
            $("#QC_Result_Loading").hide();
        }
        catch (err) {
            alert(err.message);
        }
    });
    //////////////////////////////////////////////////////
    $(function () {
        $(QC_Requests_fourd).carouseller();
        GetCurrentRequest();
    });
    /////////////////////////////////////////////
    function GetPreviousRequest(){
        console.log($('#QC_Requests_fourd .carousel-block').eq(-1)[0].id);
        var PreviousElem = $('#QC_Requests_fourd .carousel-block').eq(-1)[0];
        if (PreviousElem != null) {
            var RequestId = PreviousElem.id;
            if (RequestId.indexOf("QCRequest_") == 0) {
                LoadAnalyzes(RequestId);
            }
        }
    }
    /////////////////////////////////////////////////
    function GetNextRequest(){
        console.log($('.carousel-block').eq(1)[0].id);
        console.log($('#QC_Requests_fourd .carousel-block').eq(1)[0].id);
        var NextElem = $('#QC_Requests_fourd .carousel-block').eq(1)[0];
        if (NextElem != null) {
            var RequestId = NextElem.id;
            if (RequestId.indexOf("QCRequest_") == 0) {
                LoadAnalyzes(RequestId);
            }
        }
    }
    /////////////////////////////////////////////////
    function GetCurrentRequest() {
        console.log($('.carousel-block').eq(0)[0].id);
        console.log($('#QC_Requests_fourd .carousel-block').eq(0)[0].id);
        var CurrentElem = $('#QC_Requests_fourd .carousel-block').eq(0)[0];
        if (CurrentElem != null) {
            var RequestId = CurrentElem.id;
            if (RequestId.indexOf("QCRequest_") == 0) {
                LoadAnalyzes(RequestId);
            }
        }
    }
    /////////////////////////////////////////////////
    function LoadAnalyzes(RequestId) {
        try {
            $("#AnalyzesResults_Container").load('@Url.Action("GetPatientAnalyzesPendingForReporting", "QC")?RequestId=' + RequestId);
        }
        catch (err) {
            alert(err.message);
        }
    }
    /////////////////////////////////////////////////////
    function EditAnalysis(AnalysisIdResult) {
        $(AnalysisIdResult).find("input[type='text']").each(function (index, elem) {
            if (elem.getAttribute("disabled")) {
                elem.removeAttribute("disabled");
            }
            else {
                elem.setAttribute("disabled", 'disabled');
            }
        });
    }
</script>
