@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "Chemist_Transactions_Form" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="input-group">

                    <div class="col-md-4">
                        <input type="text" id="Chemist_Transaction_SearchText" class="form-control form-widthhh" placeholder="Search ...">
                        <span class="input-group-addon namefirst" style="width: 40px;">
                            <a href="" id="Chemist_Transaction_Search_Link"><i class="fa fa-search"></i></a>
                        </span>
                    </div>

                    <div class="col-md-5"></div>

                    <div class="col-md-3">

                        <div id="Chemist_Report_Range" class="pull-right" style="background: #fff; cursor: pointer; padding: 8px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span id="Chemist_Transaction_DateRangeText"></span> <b class="caret"></b>
                        </div>

                    </div>

                </div>
            </div>

            <div class="input-group table-responsive" id="Transaction_Container">

                @{Html.RenderAction("LoadTransactions");}
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    /////////////////////////////////
    $(function () {

        function cb(start, end) {
            $('#Chemist_Report_Range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        cb(moment(), moment());

        $('#Chemist_Report_Range').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

    });

    //////////////////////////////////////////////////////////
    $('#Chemist_Transaction_Search_Link').on('click', function (event) {
        event.preventDefault();
        LoadTransactions();
    });
    //////////////////////////////////////////////////////////////////////
    $('#Chemist_Report_Range').on('apply.daterangepicker', function (ev, picker) {
        LoadTransactions();
    });
    ////////////////////////////////////////////////////////////////////////////////////
    function LoadTransactions() {
        try {
            var TransactionSearchValue = $("#Chemist_Transaction_SearchText").val();
            var TransactionDateRangeValue = $("#Chemist_Transaction_DateRangeText").html();
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: "/Chemist/LoadTransactions?SearchPattern=" + TransactionSearchValue + "&DateRange=" + TransactionDateRangeValue,//form.attr('action'),
                success: function (data) {
                    $("#Transaction_Container").html(data);
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err + " " + desc + " " + xhr.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message + err.description);
        }
    }
    //////////////////////////////////////////////////////////
    $('#Chemist_Transaction_SearchText').keyup(function () {
        var SearchPattern = $(this).val();
        try {
            if (SearchPattern != null && SearchPattern.length > 0) {
                SearchPattern = SearchPattern.toLocaleLowerCase();
            }
            $.each($('#Transactions_Tables_Div table'), function (i, val) {
                console.log(($(val).text()));
                if ($(val).text().toLocaleLowerCase().indexOf(SearchPattern) == -1) {
                    $(val).hide();
                } else {
                    $(val).show();
                }
            });
        }
        catch (err) {
            alert(err.message);
        }
    });
</script>
