<div class="row">
    <div class="col-md-12">

        <div class="row">

            <div class="col-md-4">
                <div id='external-events' class="sampling-heightc scrolll">
                    <ul class="list-group text-center">
                        <li>

                            <div class="col-md-12" id="Sample_ForPreservation_Container">

                                @{Html.RenderAction("GetSampledRequestAnalyzesForPreservation");}

                            </div>


                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-1 text-center">
                <div class="cen-btnc"><a href="#" class="btn btn-primary btn-lgb btn-animate-demo"><i class="fa fa-angle-double-right"></i></a></div>
                <div class="cen-btncc"><a href="#" class="btn btn-primary btn-lgb btn-animate-demo"><i class="fa fa-angle-double-right"></i></a></div>
                <div class="cen-btnccc"><a href="#" class="btn btn-primary btn-lgb btn-animate-demo"><i class="fa fa-angle-double-right"></i></a></div>

            </div>

            <div class="col-md-3">

                <div id='external-events' class="sampling-heightd scrolll">
                    <ul class="list-group text-center">
                        <li>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                        </li>
                    </ul>
                </div>

                <div id='external-events' class="sampling-heightdd scrolll">
                    <ul class="list-group text-center">
                        <li>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="ck-buttonb">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>

                        </li>
                    </ul>
                </div>

            </div>


            <div class="col-md-1 text-center">
                <div class="cen-btnc"><a href="#" class="btn btn-primary btn-lgb btn-animate-demo"><i class="fa fa-angle-double-right"></i></a></div>
                <div class="cen-btncccc"><a href="#" class="btn btn-primary btn-lgb btn-animate-demo"><i class="fa fa-angle-double-right"></i></a></div>

            </div>


            <div class="col-md-3">
                <div id='external-events' class="sampling-heightc scrolll">
                    <ul class="list-group text-center">
                        <li>

                            <div class="col-md-12">

                                <div class="ck-button">
                                    <label>
                                        <input type="checkbox" value="1">
                                        <span>red</span>
                                    </label>
                                </div>

                            </div>


                        </li>
                    </ul>
                </div>
            </div>




        </div>
    </div>

</div>
