<div class="row">
    <div class="col-md-12" id="Receive_And_Sample_Div">
        <div class="col-md-4">
            <div id='external-events' class="sampling-heightc scrolll">
                <ul class="list-group text-center">
                    <li>
                        <div class="col-md-12" id="Receive_PatientRequest_Container">
                            @{Html.RenderAction("GetPendingPatientRequest");}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-1 col-sm-1">
            <div class="text-center">
                <div class="cen-btn">
                    <div class="cen-btn" style="margin-top: 200px;">
                        <a href="" id="Receive_PatientRequest_Link" class="btn btn-primary btn-lgb btn-animate-demo"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div id='external-events' class="sampling-heightc scrolll">
                <ul class="list-group text-center">
                    <li>

                        <div class="col-md-12" id="Receive_RequestedAnalyzes_Container">

                            @{Html.RenderAction("GetPendingRequestAnalyzes");}

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <div class="text-center">
                <div class="cen-btn" style="margin-top: 200px;">
                    <a href="" id="Receive_RequestedAnalyzes_Link" class="btn btn-primary btn-lgb btn-animate-demo"><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div id='external-events' class="sampling-heightc scrolll">
                <ul class="list-group text-center">
                    <li>

                        <div class="col-md-12" id="Sample_AfterReceive_Container">

                            @{Html.RenderAction("GetSampledRequestAnalyzesAfterReceive");}

                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    ////////////////////////////////////////////////////////////////
    $(function () {
        $('#Receive_PatientRequest_Link').on('click', function (event) {
            try {
                event.preventDefault();
                var form = $("#Receive_PatientRequest_ForSampling_Form");
                $.ajax({
                    cache: false,
                    async: true,
                    type: "Post",
                    url: "/Chemist/ReceiveSelectedPatientsRequest",
                    data: form.serialize(),
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $("#Receive_PatientRequest_Container").html(data);
                            GetPendingRequestAnalyzes();
                        }
                    },
                    error: function (xhr, desc, err) {
                        alert("Error: " + err + " " + desc + " " + xhr.responseText);
                    }
                });
            } catch (err) {
                alert(err.message);
            }
        });
    });
    /////////////////////////////////////////////////////////////////////////////
    $('#Receive_RequestedAnalyzes_Link').on('click', function (event) {
        try {
        event.preventDefault();
        // var form = $(this).closest("form");
        var form = $("#Pending_Analyzes_ForSampling_Form");
        $.ajax({
            cache: false,
            async: true,
            type: "Post",
            url: "/Chemist/SampleSelectedRequestAnalyzes",
            data: form.serialize(),
            success: function (data) {
                GetSamplesAfterReceive();
                GetSamplesForPreservation();
                GetPendingRequestAnalyzes();
            },
            error: function (xhr, desc, err) {
                alert("Error: " + err + " " + desc + " " + xhr.responseText);
            }
        });
        } catch (err) {
            alert(err.message);
        }
    });
    ///////////////////////////////////////////////////////////////////////////
    function GetPendingRequestAnalyzes() {
        try {
            $.ajax({
                cache: false,
                async: true,
                type: "Get",
                url: "/Chemist/GetPendingRequestAnalyzes",
                success: function (data) {
                    $("#Receive_RequestedAnalyzes_Container").html(data);
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err.message + " " + desc + " " + xhr.responseText);
                }
            });
        } catch (err) {
            alert(err.message);
        }
    }
    ///////////////////////////////////////////////////////////////////////////
    function GetSamplesAfterReceive() {
        try {
            $.ajax({
                cache: false,
                async: true,
                type: "Get",
                url: "/Chemist/GetSampledRequestAnalyzesAfterReceive",
                success: function (data) {
                    $("#Sample_AfterReceive_Container").html(data);
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err.message + " " + desc + " " + xhr.responseText);
                }
            });
        } catch (err) {
            alert(err.message);
        }
    }
    //////////////////////////////////////////////////////////////////
    function GetSamplesForPreservation() {
        try {
            $.ajax({
                cache: false,
                async: true,
                type: "Get",
                url: "/Chemist/GetSampledRequestAnalyzesForPreservation",
                success: function (data) {
                    $("#Sample_ForPreservation_Container").html(data);
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err.message + " " + desc + " " + xhr.responseText);
                }
            });
        } catch (err) {
            alert(err.message);
        }
    }

    ///////////////////////////////////////////
    function Print() {
        console.log($(TEmppp)[0])//.print();
        console.log($(TEmppp));
        console.log($(TEmppp)[0].innerHTML);
      /*  var printContents = $(TEmppp)[0].innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
       
        window.print();

        document.body.innerHTML = originalContents;
        */
        /*
        w = window.open();
        w.document.write($(TEmppp).html());
        w.print();
        w.close();*/
        //  window.print();
       // $(TEmppp)[0].printElement();
        //var data = $(TEmppp)[0].innerHTML;
        //var mywindow = window.open('', 'TEmppp', 'height=400,width=600');
        //mywindow.document.write('<html><head><title>my div</title>');
        ///*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        //mywindow.document.write('</head><body >');
        //mywindow.document.write(data);
        //mywindow.document.write('</body></html>');

        //mywindow.document.close(); // necessary for IE >= 10
        //mywindow.focus(); // necessary for IE >= 10

        //mywindow.print();
        //mywindow.close();

        //var restorepage = $('body').html();
        //var printcontent = $('#TEmppp').clone();
        //$('body').empty().html(printcontent);
        //window.print();
        //$('body').html(restorepage);



        var id = "TEmppp";

        var contents = $("#" + id).html();

        if ($("#printDiv").length == 0) {
            var printDiv = null;
            printDiv = document.createElement('div');
            printDiv.setAttribute('id', 'printDiv');
            printDiv.setAttribute('class', 'printable');
            $(printDiv).appendTo('body');
        }

        $("#printDiv").html(contents);

        window.print();

        $("#printDiv").remove();



    }

</script>

