@model DemoMisrInternationalLab.Models.PatientRequestAnalysisViewModel

@if (Model.PatientRequestAnalyzes != null)
{
    for (int i = 0; i < Model.PatientRequestAnalyzes.Count; i++)
    {

        <div class="ck-buttonb">
            <label>

                <span>
                    <table width="100%">

                        <tr>
                            <td width="23%">
                                @*@Html.DisplayTextFor(m => Model.PatientRequestAnalyzes[i].PatientRequestAnalysis.RequestNumber) :*@
                                <span style="font-size:11px">  @Html.DisplayTextFor(m => Model.PatientRequestAnalyzes[i].PatientRequestAnalysis.RequestNumber)</span>
                            </td>
                            <td >
                            <span style="font-size:12px">@Html.DisplayFor(x => Model.PatientRequestAnalyzes[i].PatientRequestAnalysis.AnalysisCode)</span>
                            </td>
                            <td>
                                <span style="font-size:12px">@Html.DisplayTextFor(m => Model.PatientRequestAnalyzes[i].PatientRequestAnalysis.RunNumber)</span>
                            </td>
                        </tr>

                    </table>
                </span>
            </label>
        </div>
    }
}

