@model DemoMisrInternationalLab.Models.PatientRequestAnalysisViewModel
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "Chemist_Transaction_Form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
    <div class="col-md-12">
   <div class="row">

                <div class="input-group">

                    <div class="col-md-4">
                        <input type="text" id="Transaction_SearchText" class="form-control form-widthhh" placeholder="Search ...">
                        <span class="input-group-addon namefirst" style="width: 40px;">
                            <a href="" id="Transaction_Search_Link"><i class="fa fa-search"></i></a>
                        </span>
                    </div>

                    <div class="col-md-5"></div>

                        <div class="col-md-3">

                            <div id="Chemist_Report_Range" class="pull-right" style="background: #fff; cursor: pointer; padding: 8px 10px; border: 1px solid #ccc; width: 100%">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span id="Transaction_DateRangeText"></span> <b class="caret"></b>
                            </div>

                        </div>

                    </div>
            </div>






        <div class="input-group table-responsive">

            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#61aee2; color:#fff;">
                        <th width="24%" colspan="2">Request Id : <span style="color:#ffe6d7;">112</span></th>
                        <th width="24%">Date : <span style="color:#ffe6d7;">12/6/2016</span> <span style="padding-left:10px;">-</span> <span style="padding-left:10px;">Time : <span style="color:#ffe6d7;">4:00PM</span></span></th>
                        <th width="24%" colspan="2">Patient Name : <span style="color:#ffe6d7;">Ahmed Ali</span></th>
                    </tr>
                    <tr style="background-color:#f2f2f2;">
                        <th width="24%" colspan="2" colspan="2">Sample Number : <span style="color:#de8650;">112</span></th>
                        <th width="24%">Sample Type : <span style="color:#de8650;">Nuh</span></th>
                        <th width="24%" colspan="2">Analysis : <span style="color:#de8650;">Urin</span></th>
                    </tr>
                    <tr style="background-color:#ffdfcc;">
                        <th width="4%"></th>
                        <th width="24%" style="text-align:center;">Sampling</th>
                        <th width="24%" style="text-align:center;">Transfer</th>
                        <th width="24%" style="text-align:center;">Preservation</th>
                        <th width="24%" style="text-align:center;">Lab</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><th style="color:#24ce28;"><i class="fa fa-2x fa-arrow-circle-o-right"></i></th><td></td><td></td><td></td><td></td></tr>
                    <tr><th style="color:#f00000;"><i class="fa fa-2x fa-arrow-circle-o-left"></i></th><td></td><td></td><td></td><td></td></tr>
                </tbody>
            </table>
        </div>
        </div>
</div>
}
<script type="text/javascript">
    $(function () {

        function cb(start, end) {
            $('#Chemist_Report_Range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        cb(moment(), moment());

        $('#Chemist_Report_Range').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

    });
</script>