@model DemoMisrInternationalLab.Models.UnitViewModel
<div id="Move_Analysis_ToDevice_Confirmation_Div">

    <p><br></p>

    <p>
        @ViewBag.Message

    </p>

    <p><br></p>
    <div class="text-center">
        @{
            var SelectedDeviceAnalyzesIds = "\"" + (string)@ViewBag.SelectedDeviceAnalyzesIds + "\"";
            var SelectedSourceDeviceId = (string)@ViewBag.SelectedSourceDeviceId;
            var SelectedDestinationDeviceId = (string)@ViewBag.SelectedDestinationDeviceId;
        }

        <button type="button" class="btn btn-success" style="border-radius:0;" id="Continue_Move_Button"
                onclick="MoveAnalyzes(@SelectedDeviceAnalyzesIds,@SelectedSourceDeviceId,@SelectedDestinationDeviceId, true);">
            Continue
        </button>

        <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                Other Machine
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var device in @Model.Devices)
                {
                    <li><a href="#" onclick="MoveAnalyzes(@SelectedDeviceAnalyzesIds,@SelectedSourceDeviceId, @device.Device.DeviceId, false);">@device.Device.DeviceName</a></li>
                }
            </ul>
        </div>

        <button type="button" class="btn btn-danger" style="border-radius:0;" onclick="Cancel();">Cancel</button>

    </div>
</div>



