@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "Lab_Plans_Form" }))
{
    @Html.AntiForgeryToken()
    <div class="captureresult-listb">

        <div class="col-md-6 mar-botmob">
            <div class="input-group" style="margin-top:0;">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:100%;">
                        <span id="Lab_Plans_Search_concept">Filter</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#Plan">Plan</a></li>
                        <li><a href="#Unit">Unit</a></li>
                        <li><a href="#Device">Device</a></li>
                        <li><a href="#Doctor">Doctor</a></li>
                        <li><a href="#RunNumber">Run#</a></li>
                        <li><a href="#AnalysisName">Analysis</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" id="Lab_Plans_SearchText" class="form-control" name="x" placeholder="Search term..." style="width: 53%; height:34px;">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="Lab_Plans_Search_Link"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>

        <div class="col-md-6">

            <div id="Lab_Plans_Report_Range" class="pull-right" style="background: #fff; cursor: pointer; padding: 8px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span id="Lab_Plans_DateRangeText"></span> <b class="caret"></b>
            </div>

        </div>

    </div>


    <div class="input-group table-responsive" id="Lab_Plans_Container">
        @{Html.RenderAction("GetPlans");}
    </div>
    <div id="Plan_Details_Popup" class="overlay">
        <div class=" popup">
            <a class="close" href="#">&times;</a>
            <div class="contentt" style="overflow: visible;" id="Plan_Details_Popup_Content"></div>
        </div>
    </div>
}
<script type="text/javascript">
    /////////////////////////////////
    $(function () {

        $('.search-panel .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#", "");
            var concept = $(this).text();
            $('.search-panel span#Lab_Plans_Search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });

        function cb(start, end) {
            $('#Lab_Plans_Report_Range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        cb(moment(), moment());

        $('#Lab_Plans_Report_Range').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

    });

    //////////////////////////////////////////////////////////
    $('#Lab_Plans_Search_Link').on('click', function (event) {
        event.preventDefault();
        LoadPlans();
    });
    //////////////////////////////////////////////////////////////////////
    $('#Lab_Plans_Report_Range').on('apply.daterangepicker', function (ev, picker) {
        LoadPlans();
    });
    ////////////////////////////////////////////////////////////////////////////////////
    function LoadPlans() {
        try {
            var SearchValue = $("#Lab_Plans_SearchText").val();
            var search_param = $("#search_param").val();
            var DateRangeValue = $("#Lab_Plans_DateRangeText").html();
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: "/Lab/GetPlans?SearchPattern=" + SearchValue + "&SearchType=" + search_param + "&DateRange=" + DateRangeValue,//form.attr('action'),
                success: function (data) {
                    $("#Lab_Plans_Container").html(data);
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err + " " + desc + " " + xhr.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message + err.description);
        }
    }
    //////////////////////////////////////////////////////////
    $('#Lab_Plans_SearchText').keyup(function () {
        var SearchPattern = $(this).val();
        try {
            if (SearchPattern != null && SearchPattern.length > 0) {
                SearchPattern = SearchPattern.toLocaleLowerCase();
            }
            $.each($('#Lab_Plans_Table tbody tr'), function (i, val) {
                console.log(($(val).text()));
                if ($(val).text().toLocaleLowerCase().indexOf(SearchPattern) == -1) {
                    $(val).hide();
                } else {
                    $(val).show();
                }
            });
        }
        catch (err) {
            alert(err.message);
        }
    });
    ///////////////////////////////////////////////////////
    function GetPlanDetails(PlanId) {
        try {
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: "/Lab/GetPlanDetails?PlanId=" + PlanId,//form.attr('action'),
                success: function (data) {
                    console.log(data);
                    $("#Plan_Details_Popup_Content").html(data);
                    window.location.href = "#Plan_Details_Popup";
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err.message + " " + desc.message + " " + xhr.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message + err.description);
        }
    }
    //////////////////////////////////////////////////
    function GoToOpenedPlan(ev, PlanId) {
        ev.preventDefault();
        $("#CaptureResult_Link").trigger('click');
        LoadPlanAnalzes(PlanId);
    }
</script>
