<div id="Lab_Plans_Loading" style="display:none;"><i class="fa fa-spinner"></i></div>
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "Lab_Plans_Form" }))
{
<div class="row input-group">

    <div class="col-md-3">
        <input type="text" id="Lab_Plans_SearchText" class="form-control form-widthhh" placeholder="Search ...">
        <span class="input-group-addon namefirst" style="width: 40px;">
            <a href="#" id="Lab_Plans_Search_Link"><i class="fa fa-search"></i></a>
        </span>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-warning btn-sm btn-animate-demo">Filter</button>
        <button type="button" class="btn btn-warning btn-sm dropdown-toggle btn-animate-demo" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Unit</a></li>
            <li><a href="#">Device</a></li>
        </ul>
    </div>

    <div class="col-md-3">

        <div id="Lab_Plans_Report_Range" class="pull-right" style="background: #fff; cursor: pointer; padding: 8px 10px; border: 1px solid #ccc; width: 100%">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span id="Lab_Plans_DateRangeText"></span> <b class="caret"></b>
        </div>

    </div>

</div>


    <div class="input-group table-responsive" id="Lab_Plans_Container">
        @{Html.RenderAction("GetPlans");}
    </div>
    <div id="Plan_Details_Popup" class="overlay">
        <div class=" popup">
            <a class="close" href="#">&times;</a>
            <div class="contentt" style="overflow: visible;" id="Plan_Details_Popup_Content"></div>
        </div>
    </div>
}
<script type="text/javascript">
    ////////////////////////////////////////////////////////////
    $(document).ajaxStart(function () {
        try {
            $("#Lab_Plans_Form").prop('disabled', true);
            $("#Lab_Plans_Loading").show();
        }
        catch (err) {
            alert(err.message);
        }
    });
    /////////////////////////////////////////////////////////
    $(document).ajaxStop(function () {
        try {
            $("#Lab_Plans_Form").prop('disabled', true);
            $("#Lab_Plans_Loading").hide();
        }
        catch (err) {
            alert(err.message);
        }
    });
    /////////////////////////////////
    $(function () {

        function cb(start, end) {
            $('#Lab_Plans_Report_Range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        cb(moment(), moment());

        $('#Lab_Plans_Report_Range').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

    });

    //////////////////////////////////////////////////////////
    $('#Lab_Plans_Search_Link').on('click', function (event) {
        event.preventDefault();
        LoadPlans();
    });
    //////////////////////////////////////////////////////////////////////
    $('#Lab_Plans_Report_Range').on('apply.daterangepicker', function (ev, picker) {
        LoadPlans();
    });
    ////////////////////////////////////////////////////////////////////////////////////
    function LoadPlans() {
        try {
            var SearchValue = $("#Lab_Plans_SearchText").val();
            var DateRangeValue = $("#Lab_Plans_DateRangeText").html();
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: "/Lab/GetPlans?SearchPattern=" + SearchValue + "&DateRange=" + DateRangeValue,//form.attr('action'),
                success: function (data) {
                    $("#Lab_Plans_Container").html(data);
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err + " " + desc + " " + xhr.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message + err.description);
        }
    }
    //////////////////////////////////////////////////////////
    $('#Lab_Plans_SearchText').keyup(function () {
        var SearchPattern = $(this).val();
        try {
            if (SearchPattern != null && SearchPattern.length > 0) {
                SearchPattern = SearchPattern.toLocaleLowerCase();
            }
            $.each($('#Lab_Plans_Table tbody tr'), function (i, val) {
                console.log(($(val).text()));
                if ($(val).text().toLocaleLowerCase().indexOf(SearchPattern) == -1) {
                    $(val).hide();
                } else {
                    $(val).show();
                }
            });
        }
        catch (err) {
            alert(err.message);
        }
    });
    ///////////////////////////////////////////////////////
    function GetPlanDetails(PlanId) {
        try {
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: "/Lab/GetPlanDetails?PlanId=" + PlanId,//form.attr('action'),
                success: function (data) {
                    console.log(data);
                    $("#Plan_Details_Popup_Content").html(data);
                    window.location.href = "#Plan_Details_Popup";
                },
                error: function (xhr, desc, err) {
                    alert("Error: " + err.message + " " + desc.message + " " + xhr.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message + err.description);
        }
    }
    
</script>
